{% extends "src/base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<h1>
    <div style="text-align: center;"><b>WELCOME!</b></div>
</h1>

<div class="font-sans h-screen w-full flex flex-row justify-center items-center">
  <div class="card w-96 mx-auto bg-white  shadow-xl hover:shadow">
     <div class="text-center mt-2 text-3xl font-medium">{{user.username}}</div>
     <div class="text-center font-normal text-lg">About:</div>
     <div class="px-6 text-center mt-2 font-light text-sm">
       <p>
         {{profile.about}}
       </p>

     </div>
     <hr class="mt-8">
      {% if cond == 0 %}
        <div style="text-align: center;"><a href="/profile/notifications"><p class="text-red-400">
         See your notifications
       </p></a></div>
      <div style="text-align: center;"><a href="/profile/friends"><p class="text-red-400">
         Your friends
       </p></a></div>
      {% endif %}
      {% if cond == 1 %}
        <a href = "/users/request/{{user.id}}/"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Add Friend
        </button></a>
      {% endif %}


  </div>
</div>

{% endblock %}
