{% extends "src/base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<h1>
    <div style="text-align: center;"><b>WELCOME!</b></div>
</h1>

<div class="font-sans h-screen w-full flex flex-row justify-center items-center">
  <div class="card w-96 mx-auto bg-white  shadow-xl hover:shadow">
     <div class="text-center mt-2 text-3xl font-medium">{{user.username}}</div>
     <div class="text-center font-normal text-lg">About:</div>
     <div class="px-6 text-center mt-2 font-light text-sm">
       <p>
         {{profile.about}}
       </p>
     </div>
     <hr class="mt-8">
<!--     <div class="flex p-4">-->
<!--       <div class="w-1/2 text-center">-->
<!--         <span class="font-bold">1.8 k</span> Followers-->
<!--       </div>-->
<!--       <div class="w-0 border border-gray-300">-->

<!--       </div>-->
<!--       <div class="w-1/2 text-center">-->
<!--         <span class="font-bold">2.0 k</span> Following-->
<!--       </div>-->
<!--     </div>-->
  </div>
</div>

{% endblock %}
