{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div class="bg-gray-200 h-screen">
  <h1>
    <div style="text-align: center;"><b>WELCOME!</b></div>
  </h1>
  <div class="container mx-auto w-full h-full">
    <div class="max-w-screen-sm mx-auto w-full h-full flex flex-col items-center justify-center">
      <div class="bg-white p-5 shadow-md w-full">
        <h1>USERNAME:</h1>
        <p>{{user.username}}</p>
        <h1>ACCOUNT TYPE:</h1>
        <p>{{user.role_id}} : {{role_name}}</p>
        <h1>ABOUT:</h1>
        <p>{{profile.about}}</p>
      </div>
    </div>
  </div>
</div>



{% endblock %}
