{% extends "src/base.html" %}

{% block head %}

{% endblock %}

{% block body %}
{{ ckeditor.load() }}

<div style="text-align: center;">
    <div class="bg-teal-500 mx-auto text-red-800">
        <b><p  class="font-black">{{board.name}}</p></b>
        <p class="font-medium"><b>About:</b> <br>{{board.about | safe}}</p>
    </div>
</div>

<div class="my-20 bg-dark">
    <center>
        <div class="shadow-2xl">
          <form class="bg-teal-200 shadow-xl rounded px-8 pt-6 pb-8 mb-4" action="/board/{{board.id}}/create" method="POST" >
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                Title of Post
              </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name = "title" id="title" type="text" placeholder="title">
            </div>
            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2" >
                Content:
              </label>
              {{ ckeditor.create() }}
                <p class="text-red-500 text-xs italic">Make sure that the post is relevant to the Board and follows the rules!!</p>
            </div>
            <div class="flex items-center justify-between">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                CREATE!
              </button>
            </div>
          </form>
        </div>
    </center>
</div>

<div class="grid grid-rows-4 grid-flow-col gap-4">
{% for post in posts %}
    {% for user in users %}
        {% if user.id==post.user_id %}
            <div class="max-w-xs shadow-2xl bg-teal-200 rounded-lg">
                <a href="/board/{{board.id}}/{{post.id}}"  class="font-bold text-blue-500"> <h1> {{post.title}} </h1></a>
                <p>{{post.date_created}}</p>
                <p class="font-semibold">Created By:</p>
                <p class="font-semibold font-italic">{{user.username}}</p>
            <p></p>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
{% endblock %}
