<!doctype html>

<html lang="en">


 <head>
     <link href="/dist/output.css" rel="stylesheet">
    {% block head %}
        <title>
            {% block title %}
            {% endblock %}
        </title>
    {% endblock %}
  </head>
  <body>
    <ul class="flex">
          <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="/login">Login</a>
          </li>
          <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="/register">Register</a>
          </li>
          <li class="mr-6">
            <a class="text-gray-400 cursor-not-allowed" href="/profile">Profile</a>
          </li>
          <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="/logout">Logout</a>
          </li>
          <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="/board">Boards</a>
          </li>

    </ul>
    {% block body %}

    {% endblock %}
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer>
    </script>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}

      {% endblock %}
    </div>
  </body>
</html>
